html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /** 1REM = 10PX **/
    background-color: #fbe3e3;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #f9dfdf;
    background-color: #f9d6d5;

}


h1 {
    align-self: flex-start;
    color:#C93384;
    text-align: center;
}

.logo {
    height: 15rem;
}

.nav {
    align-self: flex-end;
    display: flex;
    width: auto;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #C93384;
    font-size: 2.1rem;
    padding: 1rem;
    transition: all .2s;
}

a:hover {
    transform: scale(1.2);
}